.main__section {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.main__section::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.main__section::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.main__section:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    background-color: #054846;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

td img {
    width: 70px;
    height: 120px;
    margin-right: .5rem;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: rgb(19, 121, 137);
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: rgba(19, 121, 137, 0.643) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
    color: rgb(255, 0, 149);

}

.status.shipped {
    background-color: #6fcaea;
    color: #00b395;

}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #6c00bd;
}

li {
    list-style-type: none;
}



/*================================================
Add Article CSS
=================================================*/
.add-article {
    position: fixed;
    cursor: pointer;
    bottom: -45px;
    left: 15px;
    background-color: transparent;
    z-index: 4;
    width: 42px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    font-size: 28px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
}

.add-article img {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.add-article.active {
    bottom: 25px;
    opacity: 1;
    visibility: visible !important;
}


@-webkit-keyframes livehelp {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@keyframes livehelp {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}



@media only screen and (max-width: 991px) {
    .articlerow .title div p {
        color: #ffffff;
    }

    .articlerow {
        background-color: #ecf0f5;
        width: 100vw;
        padding: 0px 20px 0px 20px;
        overflow-y: scroll;
        scroll-behavior: smooth;

    }

    .articlerowsub {
        background-color: #ffffff;
        height: 300px;
        width: 100%;
        padding: 0px 20px 0px 20px;
        border-radius: 2%;
        margin-bottom: 50px;
        }

    .articlerow .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }


    .articlerow .title .leftone,
    .articlerow .title .rightone {
        height: 130px;
        overflow: hidden;

    }


    .articlerow .title .leftone {
        width: 230px;
    }

    .articlerow .title .rightone {
        width: 140px;
    }


    .articlerow .title .leftone p {
        color: #054846;
    }



    .articlerow .title .rightone .status {
        color: #054846;
    }

    .articlerow .title .rightone .sta.shipp {
        background-color: #109691a6;
        color: #054846;
    
    }

    

    .articlerow .title .rightone .sta {
        padding: .2rem 0;
        border-radius: 2rem;
        text-align: center;
    }

    .articlerow .imaros {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        height: 170px;
        overflow: hidden;
    }


    .articlerow .imaros div {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
        overflow: hidden;
    }


    .articlerow .imaros div img {
        height: 90%;
        width: 100%;
    }
}